form {
    width: 100%;
    max-width: 350px; /* Largura máxima para não esticar em telas grandes */
    background-color: rgba(0, 20, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    border: 3px solid rgba(255,255,255,0.1);
    
}

.form-field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #07ea0a;
}

input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(114, 245, 67, 0.3);
    padding: 12px;
    border-radius: 7px;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #07ea0a;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 8px rgba(7, 234, 10, 0.5);
}

/* Espaçamento dos botões dentro do form */
form div {
    margin-bottom: 12px;
}


